
body
  {
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 12px;
	}
a
{
	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
	text-decoration: underline;
}
a:visited
{
    color: #000066
}
a:hover
{
    color: green}
